<%= provide(:page_title, 'List View') %>
<h1>My Collection</h1>

<table align="center">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.description[0, 120] + '...' %></td>
    <td><%= item.category.name %></td>
    <td><%= link_to 'More', item %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Item', new_item_path %></p>
<p><%= link_to 'Categories', categories_path %></p>